@font-face {
	font-family: 'Nike Futura ND';
	src: url('Nike-Futura-ND.ttf') format('ttf');
}

@font-face {
	font-family: 'Helvetica Now Text';
	src: url('Helvetica-Now-Text.ttf') format('ttf');
}

/* css navbar */

/* ... (your existing code) ... */

nav {
    padding: 1em;
    background-color: white;
    font-family: Nike-TG;
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;
    gap: 1em;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav img:nth-of-type(1) {
	height: 1.5em;
}

nav li {
    display: inline;	
}

nav li img {
	width: 24px;
    height: 24px;
}



nav button {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
}

/* ... (your existing code) ... */


/* eind */


ul {
	display: flex;
	justify-content: center;
	gap: 4em;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
	display: inline;
}



h1 {
	font-family: Nike Futura ND;
	font-size: 48px;
	margin-top: -0.3em;
}


header li a {
	color: rgb(23, 10, 139);
	font-family: Nike-Futura;
	font-size: 16px;
	text-decoration: none;
}




/* knoppen banner */

section {
	text-align: center;
}

section p {
	font-family: Helvetica Now Text;
}

section a {
	color: white;
	background-color: black;
	text-decoration: none;
	border-radius: 4em;
	display: inline-block;
	padding: .5em 1em;
}

main:nth-of-type(1) li img {
	display: flex;
	justify-content: center;
	max-width: 100%;
	height: auto;
	margin-top: 2em;
}

/* css grijze banner */
header section:first-of-type {
	display: flex;
	height: 3em;
	justify-content: center;
	background-color: rgb(240, 237, 237);

}

header section:first-of-type p {
	color: black;
	font-family: Helvetica Now Text;
	font-size: 16px;
	text-decoration: none;

}

header section:first-of-type a {
	color: black;
	font-family: Helvetica Now Text;
	font-size: 16px;
	text-decoration: underline;
	padding: 0;
	background-color: rgb(240, 237, 237);

}



/* test css --------------------------------   */
section:first-of-type {
	width: 100%;
}

section:first-of-type h2 {
	font-family: Helvetica Now Text;
	color: var(--color-text-h2);
	text-align: left;
	font-weight: 900;
	font-size: 1.9em;
	margin: 1.7em 1em 1em 1em;
	line-height: 1em;
}

section:first-of-type ul {
	display: flex;
	list-style-type: none;
	align-items: flex-start;
	justify-content: flex-start;
	/* Zorg ervoor dat de inhoud helemaal links wordt uitgelijnd */
	overflow-x: auto;
	scroll-snap-type: x mandatory;
	overscroll-behavior-x: contain;
	gap: 1em;
}


section ul::-webkit-scrollbar {
	display: none;
	/* WebKit (Chrome, Safari, etc.) */
}

section:first-of-type li {
	display: flex;
	flex-direction: column;
	scroll-snap-stop: always;
	scroll-snap-align: center;
	margin-bottom: 1em;
}

section:first-of-type h3 {
	font-family: Helvetica Now Text;
	font-weight: 300;
	font-size: 1em;
	margin: .2em 0em -.5em .5em;
	/* Aangepaste margin voor h2 */
	text-align: left;
}

section:first-of-type h4 {
	font-family: Helvetica Now Text;
	font-weight: 100;
	color: rgb(233, 233, 233);
	font-size: 1em;
	margin: .3em 0em 1em .5em;
	/* Aangepaste margin voor h2 */
	text-align: left;
}



section:first-of-type img {
	margin: 5px;
	width: 20em;
	border: none;
	order: -1;

}

/* css ontdek meer --------------------------------   */

section:nth-of-type(2) {
	width: 100%;

}

section:nth-of-type(2) h2 {
	font-family: Helvetica Now Text;
	color: var(--color-text-h2);
	text-align: left;
	font-weight: 900;
	font-size: 1.9em;
	margin: 1.7em 1em 1em 1em;
	line-height: 1em;
}


section:nth-of-type(2) ul {
	display: flex;
	list-style-type: none;
	align-items: flex-start;
	justify-content: flex-start;
	/* Zorg ervoor dat de inhoud helemaal links wordt uitgelijnd */
	overflow-x: auto;
	scroll-snap-type: x mandatory;
	overscroll-behavior-x: contain;
	gap: 1em;
}



section:nth-of-type(2) li {
	position: relative;
	display: flex;
	flex-direction: column;
	scroll-snap-stop: always;
	scroll-snap-align: center;
}

section:nth-of-type(2) img {
	margin: 5px;
	width: 20em;
	border: none;
	order: -1;

}

/* test met knop over plaatje */


section:nth-of-type(2) a {
	position: absolute;
	left: 1em;
	width: 5.7em;
	bottom: 1em;
	font-family: Helvetica Now Text;
	font-weight: bold;
	color: black;

	margin: 0;
	padding: .5em;
	background-color: white;
}


/* css ontdek per sport --------------------------------   */

section:nth-of-type(3) {
	width: 100%;

}

section:nth-of-type(3) h2 {
	font-family: Helvetica Now Text;
	color: var(--color-text-h2);
	text-align: left;
	font-weight: 900;
	font-size: 1.9em;
	margin: 1.7em 1em 1em 1em;
	line-height: 1em;
}

section:nth-of-type(3) h3 {
	font-family: Helvetica Now Text;
	font-weight: 300;
	text-align: left;

}

section:nth-of-type(3) ul {
	display: flex;
	list-style-type: none;
	align-items: flex-start;
	justify-content: flex-start;
	/* Zorg ervoor dat de inhoud helemaal links wordt uitgelijnd */
	overflow-x: auto;
	scroll-snap-type: x mandatory;
	overscroll-behavior-x: contain;
	gap: 1em;
}



section:nth-of-type(3) li {
	position: relative;
	display: flex;
	flex-direction: column;
	scroll-snap-stop: always;
	scroll-snap-align: center;
}

section:nth-of-type(3) img {
	margin: 5px;
	width: 20em;
	border: none;
	order: -1;

}



/* css sectie ontdek onze apps */
section:nth-of-type(4) ul {
	display: flex;

	flex-direction: column;
	align-items: center;
	/* Optioneel: dit centreert de items in het midden van de sectie */
}

section:nth-of-type(4) li {
	position: relative;
}

section:nth-of-type(4) img {
	width: auto;
	border: none;
	order: -1;

}

section:nth-of-type(4) ul {
	text-align: center;
	/* Optioneel: dit centreert de tekst binnen elk item */
	margin-bottom: 20px;
	/* Optioneel: voeg wat ruimte toe tussen de items */
}

section:nth-of-type(4) h2 {
	font-family: Helvetica Now Text;
	font-weight: 300;
	text-align: left;

}

section:nth-of-type(4) a {
	position: absolute;
	left: 1em;
	width: 5.7em;
	bottom: 3em;
	font-family: Helvetica Now Text;
	font-weight: bold;
	color: black;

	margin: 0;
	padding: .5em;
	background-color: white;
}

section:nth-of-type(4) h3 {
	position: absolute;
	left: 1em;
	width: auto;
	bottom: 4em;
	font-family: Helvetica Now Text;
	font-weight: bold;
	font-size: 1.4em;
	color: white;

}


/* css linkjes onderaan */

section:nth-of-type(5) a {
	text-align: left;
	left: 1em;
	width: 5.7em;
	bottom: 3em;
	font-family: Helvetica Now Text;
	font-weight: bold;
	color: black;

	margin: 0;
	padding: .5em;
	background-color: white;
}

footer {
	background-color: rgb(22, 151, 142);
	font-family: Helvetica Now Text;
	text-transform: uppercase;
	display: flex;
	flex-direction: column;
}

footer section a {
	margin: 0;
	text-decoration: none;
	/* color: rgb(213, 38, 38);  */
	color: blue;

	display: block;
}

/* 
  VRAGEN IN DE LES:
  - nav bar
  - nth of type mag dat steeds?
  - Hoe houd ik die horizontale scroll op de hele pagina tegen
  - Wanneer nou button of link
  - Hoe ik de horizontale box met text die automatisch beweegt maak

  Lisa:
  - position fixed nav
  - niet auto terugswipen
   */