@font-face {
	font-family: 'Nike Futura ND';
	src: url('Nike-Futura-ND.ttf') format('ttf');
}

@font-face {
	font-family: 'Helvetica Now Text';
	src: url('Helvetica-Now-Text.ttf') format('ttf');
}



ul {
	display:flex;
	justify-content: center;
	gap: 4em;
	list-style-type: none;
	margin: 0;
	padding: 0;
  }

  li {
	display: inline;
  }

  nav {
	padding:1em; /* hoogte van de menubalk */
	background-color:lightgray;
	font-family: Nike-TG;
	
}

h1 {
	font-family: Nike Futura ND;
	font-size: 48px;
	margin-top: -0.3em;
}


	header li a{
		color: rgb(23, 10, 139);
		font-family: Nike-Futura;
		font-size: 16px;
		text-decoration: none;
	}


	/* knoppen banner */

section{
	text-align: center;
}

section p{
	font-family: Helvetica Now Text;
}

	section a{
		color: aqua;
		background-color: black;
		border-radius: 4em;
		padding: .25em .25em .25em .25em;
	}
	 
main:nth-of-type(1) li img{
	display: flex;
	justify-content: center;
	max-width: 100%;
	height:auto;
	margin-top: 2em;
}